*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-size: 25px;
    /* color: white; */
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    height: 80px;
    width: 100px;
    background-color: whitesmoke;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow:2px 2px 4px rgba(209, 35, 35,0.8) ;
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkred;
    opacity: 1;
    color: whitesmoke;
}

.clock #ampm{
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    bottom: 39%;
}



